*, *:before, *:after {
    box-sizing:border-box;
    user-select:none;
}

html {
    height:100%;
}
body {
    height:100%;
    font-family:Calibri,Arial,sans-serif;
    background:#ddf;
}
.container {
    position:relative;
    width:100%;
    height:100%;
}
h1,
h2 {
    margin:0;
    padding:20px 0;
    text-align:center;
}
#game-field {
    display:block;
    width:500px;
    height:500px;
    margin:0 auto;
    border-radius:50%;
}
/*#game-field-container {
    margin:25px auto 50px;
    width:500px;
    height:500px;
    background:#a9a;
    position:relative;
    perspective:450px;
    border-radius:50%;
}*/
.triggers {
    position:absolute;

}
.game-cube {
    top:50%;
    left:50%;
    width:250px;
    height:250px;
    transform-style: preserve-3d;
    /*transition:transform 0.25s ease-out;*/
    position:relative;
    will-change:transform;
}

.controls {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}

.difficulty,
.history-undo,
.history-redo {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.history-undo .input {
    border-radius:0 5px 5px 0;
}
.history-redo .input {
    border-radius:5px 0 0 5px;
}

.btn {
    display:block;
    text-align:center;
    line-height:46px;
    background-color:#a9a;
    border:1px solid #a9a;
    outline:none;
    transition:border-color 0.25s ease-in-out;
}
.btn:hover {
    border-color:#ffc31c;
}
.input {
    display:block;
    text-align:center;
    line-height:50px;
    background-color:#eee;
    border:none;
    outline:none;
}

.btn-increase,
.btn-decrease,
.input-level {
    height:50px;
    width:50px;
}

.btn-decrease {
    border-radius: 5px 0 0 5px;
}

.btn-increase {
    border-radius: 0 5px 5px 0;
}

.btn-undo {
    border-radius: 5px 0 0 5px;
    width:75px;
}

.btn-redo {
    border-radius: 0 5px 5px 0;
    width:75px;
}


.btn-action {
    margin:25px auto;
    width:150px;
    height:50px;
    border-radius:5px;
}

.btn-reset:hover {
    border-color: #d75959;
}


@media screen and (min-width:720px) {

}

@media screen and (min-width:1200px) {

}

/*#game-field-container:before, #game-field-container:after {
  content:"";
  display:block;
  width: 480px;
  height: 480px;
  position: absolute;
  top:10px;
  left:10px;
  z-index: -1;
  border-radius:50%;
  box-shadow: 0 0 15px 10px rgb(170, 153, 170);
}
#game-field-container:before {
   animation:shadow-tilt-horizontal 5s infinite ease-in-out;
}
#game-field-container:after {
   animation: shadow-tilt-vertical 3s infinite ease-in-out;
}
@keyframes shadow-tilt-vertical {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes shadow-tilt-horizontal {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}*/