<!DOCTYPE html>
<html>
<head>
    <title>Tile Invert Game</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app" class="container">
        <h1>Score: {{score}}</h1>
        <div id="game-field-container"
             v-bind:class="{'win': win === true, 'size-2': rank===2, 'size-3': rank===3, 'size-4': rank===4, 'size-5': rank===5 }">
            <div class="game-cube"
                 v-bind:style="{transform: cubeTransform}">
                <div class="side"
                     v-for="(sides, sideIndex) in matrix"
                     v-bind:class="{'side-1': sideIndex === 0, 'side-2': sideIndex === 1, 'side-3': sideIndex === 2, 'side-4': sideIndex === 3, 'side-5': sideIndex === 4, 'side-6': sideIndex === 5}">
                    <div class="row"
                         v-for="(rows, rowIndex) in sides">
                        <div class="cell"
                             v-for="(cell, cellIndex) in rows"
                             v-bind:class="{'inverted': matrix[sideIndex][rowIndex][cellIndex] === 1}"
                             v-on:click.prevent="touch([sideIndex, rowIndex, cellIndex])">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="controls">
            <button class="btn btn-decrease"
                    v-on:click="decreaseRank()">
                -
            </button>
            <input class="input input-level"
                   type="text"
                   name="rank"
                   disabled
                   v-bind:value="newRank" />
            <button class="btn btn-increase"
                    v-on:click="increaseRank()">
                +
            </button>
        </div>
        <button class="btn btn-action"
                v-on:click="generate()">
            Generate
        </button>
        <button class="btn btn-action btn-reset"
                v-on:click="reset()">
            Reset level
        </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/app.js"></script>
</body>
</html>